:root {
    --button-color: #237146;
    --button-bg-color: #3a3a3a;
    --button-text-color: #ffffff;

    --primary-color: #1b1b1b;
    --secondary-color: #272727;
    --tertiary-color: #434343;

    --font-16: 16px
}